/*couleur
gris claire : #D7D7D7
gris foncé : #686868
jaune : #FFFF00
noir
*/
*
{
    padding: 0px;
    margin: 0px;
}

header
{
  background: #686868;
  color: #FFFF00;
  padding: 1em;
  text-align: left;
  font-size: 2em;
}

body
{
  background: #fff2c9;
}

input
{
  border: 1px solid orange;
  background: white;
  color: ##0000aa;
  border-radius:4px;
}

input:hover
{
  border: 2px solid darkOrange;
}

#content
{

}

#Trucker
{

}

#shipper
{

}

#actors
{
  width: 300px;
  margin: auto;
  border: 1px solid red;
}

.actor
{
}
