/*couleur
bright grey : #D7D7D7
dark grey : #686868
yellow
black and white

*/
*
{
    padding: 0px;
    margin: 0px;
}

header
{
  background: #686868;
  color: yellow;
  padding: 1em;
  text-align: left;
  font-size: 2em;
}

body
{
  background-image: url("road.jpg");
  background-position: center top;
}

input
{
  border: 2px solid yellow;
  background: white;
  font-size: 1.5em;
  border-radius:4px;
  margin: 1em;
}

input:hover
{
  border: 2px solid orange;
}

#compute
{
  font-size: 1.25em;
  margin-left: 5em;
  color: yellow;
  background-color: #686868;
  border: none;
  padding: 0.25em;
  box-shadow: inset 0px 0px 1px 0px black;
}

#compute:hover
{
  box-shadow: inset 0px 0px 15px 0px black;
}

#compute:focus
{
  box-shadow: inset 0px 0px 50px 0px black;
}

#content
{
  background: white;
  opacity: 0.90;
  margin-top: 2em;
  margin-left: 4em;
  margin-right: 4em;
  margin-bottom: 2em;
}

#trucker
{
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

#shipper
{
  padding-left: 2em;
  padding-right: 2em;
  text-align: center;
}

#actors
{
  padding: 2em;
  text-align: center;
}

.actor
{
}
